{% set body_id = 'car-ad-details' %}
{% extends 'layouts/app.html' %}

{% block title %}
    Car page
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="d-flex justify-content-between">
            <div>
                <p class="mb-3">Разглеждания: {{vehicle_ad.views}}</p>
            </div>
            <div class="offer-price-badge ms-auto">
                <span>{{vehicle_ad.format_price}} лв.</span>
            </div>
        </div>

        <div class="mb-4">
            <h1 class="h2 mt-3">{{vehicle_ad.make.title}} {{vehicle_ad.model.title}} {{vehicle_ad.modification}} {{vehicle_ad.gearbox.title}}</h1>
            <p>
                {{vehicle_ad.manufacture_year}} година, {{vehicle_ad.fuel_type.title}}, {{vehicle_ad.car_body_configuration.title}}, {{vehicle_ad.mileage}} км, {{vehicle_ad.gearbox.title}} скорост, {{vehicle_ad.hp}} к.с., {{vehicle_ad.eco_standart.title}}, {{vehicle_ad.color.title}}
            </p>
        </div>

        <div class="row">
            <div class="col-12 col-md-5">
                <h3 class="h5 mb-4">Описание:</h3>
                <p>{{vehicle_ad.description}}</p>
                <hr>

                <h3 class="h5 mb-4">Особености и екстри:</h3>
                {% for extra_category_title, exras_str in vehicle_ad.extra_categories_data.items() %}
                    <p>
                        <strong>{{ extra_category_title }}</strong>: {{ exras_str }}
                    </p>
                {% endfor %}
                <hr>
                <a class="btn btn-primary mb-2" href="tel:{{vehicle_ad.publisher.phone}}">
                    <span class="text-white d-inline-block me-1"
                        style="width: 17px; position: relative; top: -2px; fill: white;">
                        {% with icon='phone-solid' %}
                            {% include 'partials/icons.html' %}
                        {% endwith %}
                    </span>
                    <span>{{vehicle_ad.publisher.phone}}</span>
                </a>
                <p class="mb-1">Продавач: {{vehicle_ad.publisher.first_name}}</p>
                <b class="d-block mb-3">{{vehicle_ad.settlement.title}}, област: {{vehicle_ad.settlement.region.title}}</b>

            </div>
            <div class="col-12 col-md-7">
                <div id="car-thumbnail-slider" class="mb-3"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_vars %}
    var fromPHP = {
        imagesUrls: {{vehicle_ad.images_urls|tojson}}
    }
{% endblock %}