{% set body_id = 'car-ad-edit' %}
{% extends 'layouts/app.html' %}

{% block title %}
    Редактиране на обява
{% endblock %}

{% block content %}
    <h1 class="h3 text-center mt-4 mb-3">Редактиране на обява</h1>
    <div id="car-ad-form" class="container"></div>
{% endblock %}

{% block js_vars %}
    var fromPHP = {
        staticFormDataUrl: "{{url_for('cars_app.static-data')}}",
        vehicleId: {{vehicle_serialization['id']}},
        carEditUrl: "{{car_edit_url}}",
        vehicleParams: {{vehicle_serialization|tojson}}
    }
{% endblock %}