{% set body_id = 'home' %}
{% extends 'layouts/app.html' %}

{% block title %}
    Find your dream car.
{% endblock %}

{% block content %}
    <header class="masthead">
        <div class="car-background" style="background-image: url('static/imgs/pages/home-header.jpg')"></div>
        <div class="dark-overlay"></div>
        <div class="content">
            <p class="h2 text-white text-center">Find your dream car.</p>
            <p class="text-white text-center">Explore cars based on your preferences.</p>
        </div>
    </header>
    <div class="container mt-4 mb-3">
        <div id="cars-search-container"></div>
        <div id="car-ads-listing"></div>
    </section>
{% endblock %}