{% set body_id = 'home' %}
{% extends 'layouts/app.html' %}

{% block title %}
    Find your dream car.
{% endblock %}

{% block content %}
    <header class="masthead">
        <div class="car-background" style="background-image: url('static/imgs/pages/home-header.jpg')"></div>
        <div class="dark-overlay"></div>
        <div class="content">
            <p class="h2 text-white text-center mb-3">Коли за всеки.</p>
            <p class="text-white text-center">Намери своя автомобил на база предпочитанията ти.</p>

            <a class="btn btn-primary search-cars-btn mt-4" class="btn btn-primary btn-xl text-uppercase" href="#cars-search-section">Търси автомобили</a>
        </div>
    </header>
    <div class="container mb-3">
        <section id="cars-search-section" class="pt-4">
            <p class="h2 mb-4 text-center">Търсене на автомобили</p>
            <div id="cars-search-container"></div>
        </section>

        <p class="h2 mt-5 mb-4 text-center">Най - нови обяви</p>
        <div id="car-ads-listing"></div>
    </div>
{% endblock %}

{% block js_vars %}
    var fromPython = {
        staticFormDataUrl: "{{url_for('cars_app.static-data')}}",
        currentYear: {{current_year}},
        vehicleListUrl: "{{url_for('cars_app.list_page')}}",
        vehicleListDataUrl: "{{request.url_root[:-1] + url_for('cars_app.list_data')}}"
    }
{% endblock %}