.cars-list a.car-ad  {

    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    text-decoration: none;
    height: 100%; /* Makes all ads in one row have the same height (the same as the highest one). */

    img {
        aspect-ratio: 4 / 3;
        object-fit: cover;
    }

    &:hover {
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 29%) !important;
        cursor: pointer;
    }

    .divider {
        border-top: 1px solid #000;
        opacity: .12;
        margin: 0.5rem 0;
    }

    .actions {

        > div, > a {
            background: rgba(0,0,0,0.6);
            border-radius: 50%;
            padding: 1px 5px;
            position: absolute;
            top: 2px;
        }

        .wishlist-action {
            right: 5px;
            color: pink;
        }

        .edit-action {
            right: 40px;
            color: white;
        }
    }
}