body#home {

    header.masthead { 
        
        height: calc(100vh - 56px);
        min-height: 500px;
        position: relative;

        div.car-background {
            /* background-image: set with style attribute. */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
        }

        div.dark-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,.62);
            padding: 25px;
        }

        div.content {
            display: block;
            position: relative;
            top: -53%;
        }
    }
}