<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>{% block title %}{% endblock %} - </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body {% if body_id is defined %} id="{{body_id}}" {% endif %}>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-toggler">
                <a class="navbar-brand" href="{{url_for('cars_app.home')}}">Cars Market</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('cars_app.home')}}">Търсене</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Публикуване</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Влизане</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/app.bundle.js') }}"></script>
</body>
</html>