<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>{% block title %}{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body {% if body_id is defined %} id="{{body_id}}" {% endif %}>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mt-2 mt-lg-0" id="navbar-toggler">
                <a class="navbar-brand" href="{{url_for('home_app.home')}}">Cars Market</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('home_app.home')}}">Начало</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('cars_app.create')}}">Публикуване</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('cars_app.list_my_ads')}}">Мои Обяви</a>
                        </li>
                        {% if current_user.is_admin() %}
                            <li>
                                <a class="nav-link" href="{{url_for('cars_app.list_pending_approval_ads')}}">Обяви за одобрение</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('auth_app.logout')}}">Изход</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('auth_app.register')}}">Регистриране</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('auth_app.login')}}">Влизане</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% for category in ['primary', 'danger'] %}
        {% include 'partials/alert.html' %}
    {% endfor %}
    {% block content %}{% endblock %}
    <footer class="bg-light text-center text-lg-start">
        <p class="copyright mb-0 text-center">
            Cars Market © 2023
        </p>
    </footer>
    <script>
        {% block js_vars %}{% endblock %}
    </script>
    <script src="{{ asset_url('js/app.bundle.js') }}"></script>
</body>
</html>